[user]
	name = Andrew Huynh
	email = a5.t.huynh@gmail.com
[color]
	diff = auto
	statut = auto
	status = auto
	branch = auto
[core]
	editor = ~/bin/subl --wait
	excludesfile = ~/.gitignore_global
[alias]
	br = branch
	co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	rmbr = branch -D
	st = status
	stat = status
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = current
[init]
	defaultBranch = main
