/* Setup variables */
:root {
    --tab-highlighter-size: 4px;
    --tab-highlighter: rgb(35, 205, 179);
}


/**
* Better styling for the Firefox Tree Style Tab extension.
*/

.favicon {
    background: white;
    border-radius: 4px;
}

.favicon img {
    border-radius: 4px;
}


/*
    As little space before the tab name as possible.
    The fold/unfold icon is not affected.

    !important is required when there are enough tabs to cause a scrollbar
*/

.tab {
    background-color: #2c2525;
    border: 0;
    height: 32px;
    line-height: 1.5em;
}

.tab.active {
    background-color: black;
}

.tab .label {
    color: #766363;
    margin-left: 8px;
}

.tab:hover {
    box-shadow: inset 4px 0px var(--tab-highlighter);
}

.tab:hover .label {
    color: white !important;
}

.tab:hover .counter {
    display: none;
}

.tab:not(.pinned) {
    padding-left: 2px !important;
}

.tab:not(:hover) .closebox {
    display: none;
}


/** Change active folder icon */
.tab .twisty {
    /* The twisty icon is an SVG whose color is controlled by `--tab-text`
     * For reference: https://github.com/piroor/treestyletab/blob/a6662b6d281ebf30508eb34158365e0501d57f0d/webextensions/sidebar/styles/twisty.css
     */
    --tab-text: white;
    margin-left: 4px;
    margin-right: 4px;
}

.tab .counter {
    color: var(--tab-highlighter);
    margin-right: 8px;
}

.tab.active .label {
    color: white !important;
}


/* Remove new tab button */

.newtab-button {
    display: none;
}

#tabbar {
    background-color: #2c2525 !important;
}


/** This colors a tab based on its container's color. */

.contextual-identity-marker {
    position: absolute !important;
    pointer-events: none;
    z-index: 0;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    width: unset !important;
    height: unset !important;
    opacity: 0.5;
}


/* Only show close button when hovering over the tab */

.closebox::after {
    content: "⨉";
    color: white;
    background: none;
    line-height: 1.2;
    mask: none;
    text-align: center;
    width: 2em;
}